# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\xampp\htdocs\Laravel\CSE499 project\CSE499SU20Group1SAA3NSU\Project code\shikkha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
